{% block main %}

<main>
    <div class="login-form">
        <h2>Connexion</h2>
        
        <form action="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="mycompany@example.com">
                {% if error and error.email %}
                    <p class="error-message">{{ error.email}}</p>
                {% endif %}
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input id="password" name="password" type="password" placeholder="************">
                {% if error and error.password %}
                    <p class="error-message">{{ error.password }}</p>
                {% endif %}
            </div>
            <div>
                <button type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}
