<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/employeeView.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Gestionnaire Employés</title>
</head>
<body >
    
   {% block main %}{% endblock %}



        {% block footer %}
			{% include "./layouts/_footer.twig" %}
		{% endblock %}
        <script src="scripts/script.js"> </script>
</body>
</html>